@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
/* font-family: "Fredericka the Great", serif; */

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Ubuntu Mono", monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: clip;
}

/* html {
  overflow-x: hidden;
} */

@media screen and (max-width: 500px) {
  html {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
  }

  html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}