.container {
    padding: 0 18.5%;
}

.mainContent {
    display: flex;
    font-family: "Ubuntu Mono", monospace;
    margin: 1.5rem 0;
}

.mainNews {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 0;
    border-right: 1px solid #ddd;
}

.asideWrap {
    border-left: 1px solid #ddd;
    width: 30%;
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.aside-most-read {
    padding: 1rem 0;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #343434;
    border-top: 1px solid #343434;
}

@media screen and (max-width: 1775px) {
    .container {
        padding: 0 14%;
    }
}
@media screen and (max-width: 1575px) {
    .container {
        padding: 0 11%;
    }
}
@media screen and (max-width: 1445px) {
    .container {
        padding: 0 7%;
    }
}
@media screen and (max-width: 1375px) {
    .container {
        padding: 0 6%;
    }
}
@media screen and (max-width: 1275px) {
    .container {
        padding: 0 4.5%;
    }
}
@media screen and (max-width: 1070px) {
    .mainContent {
        flex-direction: column;
    }
    .mainNews {
        width: 100%;
        border-right: none;
        padding: 0;
    }
    .asideWrap {
        width: 100%;
        border-left: none;
        padding: 0;
    }
}
@media screen and (max-width: 750px) {
    .aside-most-read {
        border-top: 2px solid #343434;
    }
}