.newsCardTitle {
  font-size: 2.5rem;
  padding: 1rem 0 3rem 0;
  color: #343434;
}

.cardBody {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 3rem;
  padding: 3rem 0;
  border-top: 1px solid #343434;
}
.newsImg {
  width: 40%;
}

.newsCard {
  padding: 1rem 0;
  text-decoration: none;
}

.navNewsTitle {
  font-size: 1.5rem;
  color: #333;
}

.navNewsDescription {
  font-size: 0.9rem;
  padding: 15px 0;
  color: #666;
}

.navNewsTimePublished {
  font-size: 0.8rem;
  color: #666;
}

.loadingMessage, .errorMessage {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #555;
}

.errorMessage {
  color: #d9534f; 
}


@media screen and (max-width: 750px) {
  .cardBody {
    flex-direction: column-reverse;
    gap: 0;
  }
  .newsImg {
    width: auto;
  }
}