.newsCardAside {
    border-top: 1px solid #66666633;
}

.cardBodyAside { 
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.newsImgAside {
    width: 100%;
}

.newsTextAside {
    /* Estilos gerais para o container de texto */
}

.newsAuthor {
    font-weight: bold;
    color: #66666693;
}

.newsTitleAside {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    padding: 10px 0; 
}

.newsTitleAside:hover {
    color: #343434ce;
    cursor: pointer;
}

/* Corrigido o erro de digitação aqui */
.newsTextAside .newsDescription {
    font-size: 1rem;
    color: #666;
}

.newsTimePublished {
    font-size: 0.8rem;
    color: #666;
    padding-top: 10px;
}

/* Exemplo de como as media queries poderiam ser usadas para estilos gerais */
@media screen and (max-width: 1070px) {
    .cardBodyAside {
        /* Exemplo: Ajustar padding geral em telas menores */
        padding: 1.5rem 3rem;
    }
    .newsImgAside {
        /* Ajustar dimensões da imagem em telas menores */
        height: 15vh;
        width: 50%;
    }
    .newsTextAside {
        /* Ajustar alinhamento do texto em telas menores */
        text-align: center;
        padding: 1rem 3rem;
    }
    .newsTitleAside {
        /* Ajustar padding do título */
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .cardBodyAside {
        flex-direction: column-reverse; /* Exemplo */
        padding: 1.5rem 0;
    }
    .newsImgAside {
        height: 20vh;
        width: auto;
    }
    .newsTextAside {
        text-align: start;
        padding: 1rem 0rem;
    }
}

@media screen and (max-width: 550px) {
    .newsImgAside {
        padding: 1rem 0;
    }
}